div.p
{
margin-top:0px;
margin-bottom:0px;
font-weight:normal;
}

div.description_on_page div.p
{font-family:Arial;
font-size: 11pt;color:#000000;
font-style:normal;
text-decoration:none;
font-weight:normal;
}
h1
{
font-family:Arial;
font-size: 13pt;color:#375db0;
font-style:normal;
text-decoration:none;
font-weight:normal;
display:inline-block;
margin:0;
padding:0;
}
h2
{
font-family:Arial;
font-size: 11pt;color:#4f87fd;
font-style:normal;
text-decoration:none;
font-weight:normal;
display:inline-block;
margin:0;
padding:0;
}
span.code
{
font-family:Courier New;
font-size: 11pt;color:#000000;
font-style:normal;
text-decoration:none;
font-weight:normal;
}
span.quote
{
font-family:Georgia;
font-size: 11pt;color:#000000;
font-style:italic;
text-decoration:none;
font-weight:normal;
}
img.de_780D01ADE8
{
margin-top: 0px; margin-right: 0px; margin-bottom: 0px; margin-left: 0px;}
span.de_24D69A6CBF
{
	font-family:MS Shell Dlg;
	font-size: 8pt;
	color:#000000;
}
span.de_2B94C39861
{
	color:#0000ff;
	text-decoration:underline;
}
span.de_3936C46AEE
{
	font-family:Arial;
	font-size: 12pt;
	color:#000000;
}
span.de_3D15002B27
{
	font-family:Arial;
	font-size: 10pt;
	color:#000000;
}
span.de_403BE9223A
{
	font-size: 10pt;
}
span.de_4E355EBF45
{
	font-family:aria;
	font-size: 9pt;
	color:#0000ff;
	text-decoration:underline;
}
span.de_58E825B70E
{
	font-family:Calibri;
	font-size: 11pt;
	color:#000000;
}
span.de_630DEE6BC6
{
	font-family:TimesNewRomanPSMT;
	font-size: 9pt;
	color:#000000;
}
span.de_73FDE1D66A
{
	font-family:aria;
	font-size: 9pt;
	color:#000000;
}
span.de_7A428B006D
{
	font-family:aria;
	font-size: 10pt;
	color:#000000;
	font-style:italic;
}
span.de_80B7BA4DE3
{
	font-family:TimesNewRomanPSMT;
	font-size: 9pt;
	color:#000000;
	text-decoration:underline;
}
span.de_823826CA2C
{
	font-style:italic;
}
span.de_86FF1C0BC2
{
	font-family:aria;
	font-size: 10pt;
	color:#000000;
}
span.de_92FD2727AF
{
	font-family:Arial;
	font-size: 10pt;
	color:#000000;
	font-style:italic;
}
span.de_B9BDB5C534
{
	font-family:aria;
	font-size: 10pt;
	color:#0000ff;
	text-decoration:underline;
}
span.de_C609DA8B12
{
	font-family:Times New Roman;
	font-size: 10pt;
	color:#000000;
}
span.de_D79B3213CA
{
	font-family:Arial;
	font-size: 12pt;
}
span.de_E85041FDEA
{
	font-family:Calibri;
	font-size: 12pt;
	color:#000000;
}
span.de_E95EEB0A03
{
	font-family:Times New Roman;
	font-size: 12pt;
	color:#000000;
}
span.de_F1F3B4D4AE
{
	font-family:Arial;
	font-size: 12pt;
	color:#000000;
	font-style:italic;
}
span.de_FEADFF6F40
{
	font-family:Arial;
	font-size: 10pt;
	color:#0000ff;
	text-decoration:underline;
}
